<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

<h1><p style="text-align: center; color:darkblue">Python In-Class, <br>29 July 2021</p><h1>

In [3]:
numbers = [11, 36, 33, 66, 89, 21, 32, 16, 10]

In [4]:
odds = 0
evens = 0

for i in numbers :
    if not i % 2 :
        evens += 1
    else :
        odds += 1
print("The sum of odd numbers are :", odds)
print("The sum of evens numbers are :", evens)

The sum of odd numbers are : 4
The sum of evens numbers are : 5

In [5]:
odds = 0
evens = 0

for i in numbers :
    if i % 2 :
        odds += 1
    else :
        evens += 1
print("The sum of odd numbers are :", odds)
print("The sum of evens numbers are :", evens)

The sum of odd numbers are : 4
The sum of evens numbers are : 5

In [6]:
toplam = 0

for i in range(1,75) :
    toplam += i
print(toplam)

2775

## List Comprehension

In [7]:
listem = []

for i in range(5) :
    listem.append(i)
listem

[0, 1, 2, 3, 4]

```python

for item in iterable :
    expression


[expression for item in iterable]
```

In [8]:
[item for item in range(5)]

[0, 1, 2, 3, 4]

In [9]:
[i ** 2  for i in range(5)]

[0, 1, 4, 9, 16]

## Ternary `if` Statements

In [11]:
condition = False

if condition :
    a = 1
else :
    a = 0
    
print(a)

0

```python

if_body if condition else else_body 

```

In [12]:
1 if condition else 0

0

In [13]:
condition = True
1 if condition else 0

1

In [14]:
a = 1 if condition else 0
print(a)

1

In [15]:
print(1 if False else 0)

0

In [16]:
listem = [1, 2, 3, 4, 5, 6]

In [17]:
[i**2 for i in listem]

[1, 4, 9, 16, 25, 36]

In [18]:
[i**2 for i in listem if i % 2]

[1, 9, 25]

In [19]:
[i**2 for i in listem] if i % 2

SyntaxError: invalid syntax (<ipython-input-19-2fbbbe516f4a>, line 1)

In [25]:
listA = ["susan", "tom", False, 0, "0"]

In [26]:
havadaki_object = filter(None, listA)

In [27]:
havadaki_object

In [28]:
for i in havadaki_object :
    print(i)

susan
tom
0